CompileFlags:
  Add:
    - "-isystem/home/dylan/code/osdev/HeliOS/include"
    - "-isystem/home/dylan/code/osdev/libc/include"
    - "-nostdlibinc"
    - "-D__is_libk"
    - "-Wunused-variable"
    - "-Wall"
    - "-Wextra"
    - "-pedantic"
    - "--target=i386"
    - "-std=gnu23"
    - "-xc"
