---
BasedOnStyle: WebKit
AccessModifierOffset: -4
AllowShortIfStatementsOnASingleLine: WithoutElse
BreakBeforeBraces: Linux
KeepEmptyLinesAtTheStartOfBlocks: true
IndentWidth: 8
TabWidth: 8
ObjCBlockIndentWidth: 8
ConstructorInitializerIndentWidth: 8
ContinuationIndentWidth: 8
UseTab: Always
ColumnLimit: 80
AlignConsecutiveMacros: Consecutive
AlignTrailingComments: true
AlignAfterOpenBracket: Align
PointerAlignment: Left

AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignEscapedNewlines: Left
AlignOperands: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: false
BinPackParameters: false
BinPackArguments: false

BreakBeforeBinaryOperators: None
BreakBeforeInheritanceComma: false
BreakBeforeTernaryOperators: false
BreakConstructorInitializersBeforeComma: false
BreakConstructorInitializers: BeforeComma
BreakAfterJavaFieldAnnotations: false
BreakStringLiterals: false

ReflowComments: false
PenaltyBreakAssignment: 10
PenaltyBreakBeforeFirstCallParameter: 30
PenaltyBreakComment: 10
PenaltyBreakFirstLessLess: 0
PenaltyBreakString: 10
PenaltyExcessCharacter: 100
PenaltyReturnTypeOnItsOwnLine: 60

ForEachMacros:
- 'hlist_for_each'
- 'hlist_for_each_entry'
- 'list_for_each'
- 'list_for_each_entry'
- 'hash_for_each'
- 'hash_for_each_possible'
