---
BasedOnStyle: WebKit
AccessModifierOffset: '-4'
AllowShortIfStatementsOnASingleLine: WithoutElse
BreakBeforeBraces: Allman
IndentWidth: '4'
KeepEmptyLinesAtTheStartOfBlocks: 'true'
Language: Cpp
TabWidth: '4'
UseTab: Never

...
