CompileFlags:
  Add:
    - "-isystem/home/dylan/code/osdev/helios/include"
    - "-isystem/home/dylan/code/osdev/libc/include"
    - "-nostdlibinc"
    - "-D__is_libk"
    - "-DLIMINE_API_REVISION=3"
    - "--target=x86_64"
    - "-std=gnu23"
    - "-xc"
    - "-nostdlib"
    - "-Wall"
    - "-Wextra"
    - "-pedantic"
    - "-Wno-empty-translation-unit"
    - "-Wunused-variable"
    - "-Wunused-result"
    - "-Wshadow"
    - "-Wpointer-arith"
    - "-Wcast-align"
    - "-Wwrite-strings"
    - "-Wmissing-prototypes"
    - "-Wmissing-declarations"
    - "-Wredundant-decls"
    - "-Wnested-externs"
    - "-Winline"
    - "-Wno-long-long"
    - "-Wconversion"
    - "-Wstrict-prototypes"
    - "-Wno-extra-semi"
