CompileFlags:
  Add:
    - "-isystem/home/dylan/code/osdev/HeliOS/include"
    - "-isystem/home/dylan/code/osdev/libc/include"
    - "-nostdlibinc"
    - "-D__is_libk"
    - "-DLIMINE_API_REVISION=3"
    - "-Wunused-variable"
    - "-Wall"
    - "-Wextra"
    - "-pedantic"
    - "-Wno-empty-translation-unit"
    - "-Wno-unused-function"
    - "-Wunused-result"
    - "--target=x86_64"
    - "-std=gnu23"
    - "-xc"

