---
BasedOnStyle: WebKit
AccessModifierOffset: '-4'
AllowShortIfStatementsOnASingleLine: WithoutElse
BreakBeforeBraces: Linux
IndentWidth: '8'
KeepEmptyLinesAtTheStartOfBlocks: 'true'
Language: Cpp
TabWidth: '8'
UseTab: Never

...
